body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(128, 128, 128, 0.123);
}
nav{
    background-color: rgb(100, 149, 237);
    height: 15vh;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    color: rgba(0, 0, 0, 0.726);
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 6px;
    margin-left: 70px;
}
button:hover{
    cursor: pointer;
}
button{
    margin: 15px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 10px, 20px;
    letter-spacing: 2px;
    
}
h1{
    margin: 20px;
}
.butoane{
    margin: 20px;
    margin-right: 40px;
}
.btn{
    padding: 5px 20px;
}
.v{
    font-size: 35px;
    font-weight: 500;
    font-style: oblique;
}
.container{

    display: flex;
}
.card1, .card2, .card3{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
}
.card1, .card2, .card3:hover{
    text-decoration: none;
    cursor: pointer;
}
a{
    text-decoration: none;
}
.container p{
    margin-top: 30px;
}
img{
    width: 200px;
    align-self: center;
}
h1{
    color: rgba(0, 0, 0, 0.849);
    font-size: 25px;
    
}
.drepturi{
    
    padding-top: 30px ;
    text-align: center;
}

footer{
        background-image: linear-gradient( to top, rgba(0, 89, 255, 0.747), rgba(128, 128, 128, 0.123));
        height: 15vh;
        margin: 0px;
    
    }